<script src= "<%= process.env.FA_KIT_URL %>" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="/js/main.js"></script>

</body>

</html>