<%- include('../layouts/head.ejs') %>
    </head>

    <body>
        <%- include('../layouts/navbar.ejs') %>
        <main>
            <h1><i>Nothing there!</i></h1>
        </main>
<%- include('../layouts/end.ejs') %>